<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxhf.mapper.CategoryMapper">
	<!-- 获取所有分类信息 -->
	<select id="findCategoryAll"  resultType="com.lxhf.bean.Category">
		select * from category where status = 1
	</select>
	
	<!-- 添加分类信息 -->
	<insert id="addCategory" parameterType="com.lxhf.bean.Category">
		insert into category(name, description) value(#{name}, #{description})
	</insert>

	<!-- 删除指定分类 -->
<!-- 	<delete id="deleteCategory" parameterType="int">
		delete from category where id = #{id}
	</delete> -->
	<update id="deleteCategory" parameterType="int">
		update category set status = 0 where id = #{id}
	</update>
	
	<!-- 更新分类信息 -->
	<update id="updateCategory" parameterType="com.lxhf.bean.Category">
		update category set name = #{name}, description = #{description} where id = #{id}
	</update>
	
	<!-- 查找指定分类 -->
	<select id="getCategoryById" parameterType="int" resultType="com.lxhf.bean.Category">
		select * from category where id = #{id} and status = 1
	</select>
	
	<!-- 根据分类名称查找分类 -->
	<select id="findCategoryByName" parameterType="string" resultType="com.lxhf.bean.Category">
		select * from category 
		where name like '%${name}%' and status=1
	</select>
	
	<!-- 根据分类描述查找分类 -->
	<select id="findCategoryByDesc" parameterType="string" resultType="com.lxhf.bean.Category">
		select * from category 
		where description like '%${desc}%' and status=1
	</select>
	
	<!-- 根据分类名称和描述查找分类 -->
	<select id="findCategoryByAll" parameterType="string" resultType="com.lxhf.bean.Category">
		select * from category 
		where status=1 and
		(name like '%${all}%' or description like '%${all}%')
	</select>
	
</mapper>