<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxhf.mapper.CarMapper">
	<!-- 添加 购物车-->
	<insert id="insertOneCarItem" parameterType="com.lxhf.bean.CarItem">
		insert into caritem(num,money,bookid,customerid) value(#{num},#{money},#{bookid},#{customerid})
	</insert>

	<!-- 根据bookid和用户id查找指定购物车对象 -->
	<select id="findCarItemByBookIdandCustomerId" parameterType="int" resultType="com.lxhf.bean.CarItem">
		select * from caritem where bookid = #{bookid} and customerid = #{customerid}
	</select>
	
	
	<!-- 更新购物车物品数量和价格 -->
	<update id="updateNumandMoney">
		update caritem set num =#{num},money = #{money} where id = #{id}
	</update>
	
	
	<!-- 查询当前用户的购物车 -->
	<resultMap type="com.lxhf.bean.CarItem" id="caritemBookResultMap">
		<id property="id" column="id" />
		<result property="bookid" column="bookid" />
		<result property="num" column="num" />
		<result property="money" column="money" />
		<result property="customerid" column="customerid" />
		
		<association property="book" javaType="com.lxhf.bean.Book">
			<id property="id" column="bid" />
			<result property="name" column="bname" />
			<result property="author" column="bauthor" />
			<result property="currprice" column="bcurrprice" />
			<result property="image_b" column="bimage_b" />
			<result property="description" column="bdes" />
		</association>

	</resultMap>
	
		<!-- 根据用户id查找指定购物车对象 -->
	<select id="findCarItemByCustomerId" parameterType="int" resultMap="caritemBookResultMap">
		SELECT 
		caritem.id, caritem.bookid ,caritem.num ,caritem.money ,caritem.customerid ,
		book.id bid,book.name bname,book.author bauthor,book.currprice bcurrprice,book.image_b bimage_b,book.description bdes
		FROM caritem LEFT JOIN book ON caritem.bookid = book.id WHERE customerid = #{customerid}
	</select>
	
	<!-- 根据用户id删除购物车 -->
	<delete id="deleteByCustomerId" parameterType="int">
		delete from caritem where customerid = #{customerid}
	</delete>
	
	<!-- 根据id删除购物车 -->
	<delete id="deleteById" parameterType="int">
		delete from caritem where id = #{id}
	</delete>
</mapper>